html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
}
/*html,input,textarea,select{
    background-color:#1E1E1E;
    color:#C1C6BE;
}
textarea,input,select{
    border:1px solid #777;
}*/
body {
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.loading {
    position: absolute;
}


/*.selected:after {
    content: " ";
    position: absolute;
    width: 100%;
    background-color: rgb(248, 238, 199);
    left: 0;
    z-index: -1;
}*/
.template {
    display: none;
}

a:target {
    outline: 1px solid red;
}

.line .line-overlay {
    display: none;
}

.line.selected .line-overlay {
    display: block;
    position: absolute;
    width: 100%;
    background-color: rgb(248, 238, 199);
    left: 0;
    z-index: -1;
    height: 14px;
    border-left: solid 50px white;
    box-sizing: border-box;
}

.code-container {
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

table.code-container > tbody > tr > td:first-child {
    width: 50px;
}

table.code-container > tbody > tr > td {
    vertical-align: top;
    padding: 0;
}

.line-numbers {
    /*float:left;
    width:50px;*/
    box-sizing: border-box;
    text-align: right;
    padding-right: 10px;
    color: #bbb;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers > div:hover {
    color: black;
}

.line-numbers, .code, .generated-code, .ta-code {
    white-space: pre;
    font-family: 'Courier New';
    font-size: 11px;
}

.highlight {
    background-color: pink;
}

/*.code {
    float: left;
}*/


.tree .node.collapsed > .children {
    display: none;
}

.height100 {
    height: 100%;
}

.view {
    display: none;
}

.view.active {
    display: block;
}

/*.td-code {
    position: relative;
}*/

.ta-code {
    display:none;
    /*position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-text-fill-color: transparent;
    outline:none;*/
}
/*.ta-code::selection{
    background-color:rgba(107, 166, 255, 0.2);
}*/