body {
    margin: 0;
    padding: 0;
}

#code, #preview {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    overflow: auto;
    vertical-align: top;
    min-height: 500px;
    /*border:none;
    padding:0;
    margin:0;*/
}

.fullscreen #preview {
    width: auto;
    display: block;
}

.fullscreen #code {
    display: none;
}

pre {
    background-color: #ccc;
    margin: 20px 0;
    padding: 10px;
}

.tbFilename {
    width: 500px;
}
textarea{
    overflow:auto;
    white-space:nowrap;
    font-family:Consolas;
}
