html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
    font-size: 13px;
}
/*html,input,textarea,select{
    background-color:#1E1E1E;
    color:#C1C6BE;
}
textarea,input,select{
    border:1px solid #777;
}*/
body {
    /*padding: 30px 0 30px 0;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: #1378FF;
}
.layout {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.layout > tbody > .top {
    /*height: 30px;*/
}

.layout > tbody > .main {
    height: 100%;
}

.layout > tbody > .bottom {
    /*height: 30px;*/
}

.layout > tbody > tr > td {
    vertical-align: top;
    padding: 0;
}

.top-bar {
    /*position: fixed;
    width: 100%;
    top: 0;*/
    background-color: rgb(214, 231, 242);
    /*height: 30px;*/
    padding: 0 20px;
    /*box-shadow:black 10px 10px;*/
    border-spacing: 0;
    border: none;
}

.bottom-bar {
    /*position: fixed;
    bottom: 0;
    width: 100%;*/
    /*height: 200px;*/
    background-color: rgb(214, 231, 242);
    padding: 0 20px;
}

.code-view {
    height: 100%;
    overflow: scroll;
}

.menu {
    user-select: none;
    -webkit-user-select: none;
}

.loading {
    position: absolute;
}


/*.selected:after {
    content: " ";
    position: absolute;
    width: 100%;
    background-color: rgb(248, 238, 199);
    left: 0;
    z-index: -1;
}*/
.template {
    display: none;
}

a:target {
    outline: 1px solid red;
}

.line {
    position: relative;
}

.line .line-overlay {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    min-width: 30px;
    left: 0;
    height: 15px;
    /*border-left: solid 50px white;*/
    box-sizing: border-box;
}

.line:hover .line-overlay {
    background-color: #f0f0f0;
}

.line.selected .line-overlay {
    background-color: rgb(248, 238, 199);
}

.line.selected:hover .line-overlay {
    background-color: rgb(255, 224, 103);
}

.code-container {
    position: relative;
}


.code-container .lines {
    width: 100%;
    position: absolute;
    user-select: none;
    z-index: 0;
    color: #bbb;
    cursor: default;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.code-container.git-blame-mode .line-numbers {
    width: 250px;
}

.code-container.git-blame-mode .td-code {
    left: 250px;
}

.line .git-blame {
    display: inline-block;
    width: 190px;
    overflow: hidden;
    text-overflow: clip;
    vertical-align: top;
    white-space: nowrap;
}

.line .git-blame span {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 15px;
    box-sizing: border-box;
}

.code-container .code{
    cursor:text;
}

.tooltip.git-blame {
}

.code-container > tbody > tr > td {
    vertical-align: top;
    padding: 0;
}


.line-number {
    display: inline-block;
    width: 30px;
    text-decoration: none;
    color: inherit;
    text-align: right;
    padding-right: 10px;
}

.expander-container {
    width: 20px;
    display: inline-block;
}

.lines > .line:hover {
    color: black;
}

.code-container {
    font-family: 'Source Code Pro';
    font-size: 12px;
}

.highlight {
    background-color: pink;
}

.hl.hl-violation {
    border-bottom: 1px dashed red;
    box-sizing: border-box;
}

.tooltip.tt {
    max-width: 30%;
    font-size: 12px;
    font-family: Arial;
    border-radius: 2px;
    background-color: #fdfdfd;
    color: black;
    border: 1px solid #ccc;
    padding: 6px;
    white-space: pre;
}



.code a {
    -webkit-user-drag: none;
}
.code a:hover{
    text-decoration:underline;
}

.code a.ctrl:hover{
    cursor:pointer;
}

/*.code {
    float: left;
}*/


.tree .node.collapsed > .children {
    display: none;
}

.height100 {
    height: 100%;
}

/*.view {
    display: none;
}

.view.active {
    display: block;
}*/

.td-code {
    position: relative;
    left: 60px;
}

.ta-code {
    display: none;
    /*position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-text-fill-color: transparent;
    outline:none;*/
}
/*.ta-code::selection{
    background-color:rgba(107, 166, 255, 0.2);
}*/


.collapsable {
    /*outline: 1px solid pink;*/
}

.collapsable.collapsed {
    outline: 1px solid #ccc;
    width: 30px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: clip;
    overflow: hidden;
}

.collapsable.collapsed::before {
    content: "...";
    display: block;
}

.line-number, .code {
    white-space: pre;
}

.line.collapsed {
    display: none;
}

.expander {
    outline: 1px solid #ccc;
    background: none;
    height: 8px;
    width: 8px;
    line-height: 8px;
    padding: 0;
    border: none;
    margin: 0;
}

.expander::before {
    content: "-";
}

.expander.collapsed::before {
    content: "+";
}

.menu {
    font-size: 13px;
}

.btn {
    background-color: white;
    border: 1px solid #ccc;
    margin-left: -1px;
    padding: 1px 6px;
    font: inherit;
    line-height: 150%;
    display: inline-block;
}

/*button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}*/

a.btn {
    color: inherit;
}

.btn:hover {
    background-color: #eee;
}

.bottom-bar {
    font-size: 12px;
}


.grid {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.grid > thead > tr > th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 2px 4px;
}

.grid > tbody > tr > td {
    border: none;
    vertical-align: top;
    padding: 2px 4px;
}

.grid > tbody > tr:hover {
    background-color: #eee;
}

.dir-view {
    overflow: auto;
    height: 100%;
}

.dir-view .child {
    padding: 2px 0;
}

[_for] {
    display: none;
}

.critique {
    min-height: 100px;
}

.critique .grid {
    background-color: white;
    cursor: default;
}


.caret {
    width: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    /*border: 1px solid black;*/
    border: none;
    height: 15px;
    padding: 0;
    margin: 0;
    z-index: -1;
    background-color: rgba(0, 200, 0, 0.3);
    resize: none;
}

.debug{
    position:absolute;
    top:0;
    right:50px;
    background-color:rgba(100, 100, 100, 0.7);
    height:200px;
    width:300px;
    white-space:pre;
    z-index:100;
    display:none;
}