html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
    font-size: 13px;
}
/*html,input,textarea,select{
    background-color:#1E1E1E;
    color:#C1C6BE;
}
textarea,input,select{
    border:1px solid #777;
}*/
body {
    padding: 30px 0 30px 0;
    margin: 0;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: #1378FF;
}

.top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(214, 231, 242);
    height: 30px;
    padding: 0 20px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(214, 231, 242);
    padding: 0 20px;
}

.menu {
}

.loading {
    position: absolute;
}


/*.selected:after {
    content: " ";
    position: absolute;
    width: 100%;
    background-color: rgb(248, 238, 199);
    left: 0;
    z-index: -1;
}*/
.template {
    display: none;
}

a:target {
    outline: 1px solid red;
}

.line {
    /*position: relative;*/
    text-align: right;
}

.line .line-overlay {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 15px;
    border-left: solid 50px white;
    box-sizing: border-box;
}

.line:hover .line-overlay {
    background-color: #f0f0f0;
}

.line.selected .line-overlay {
    background-color: rgb(248, 238, 199);
}

.line.selected:hover .line-overlay {
    background-color: rgb(255, 224, 103);
}

.code-container {
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.code-container .td-line-numbers {
    width: 60px;
}

.code-container.wide-line-numbers .td-line-numbers {
    width: 160px;
}

.line .git-blame {
    display: inline-block;
    width: 90px;
    overflow: hidden;
    text-overflow: clip;
    vertical-align: top;
    text-align: left;
}

.tooltip.git-blame {
}

.code-container > tbody > tr > td {
    vertical-align: top;
    padding: 0;
}

.line-numbers {
    box-sizing: border-box;
    /*text-align: right;*/
    padding-right: 10px;
    color: #bbb;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-number {
    display: inline-block;
    width: 30px;
    text-decoration: none;
    color: inherit;
}

.expander-container {
    width: 20px;
    display: inline-block;
}

.line-numbers > .line:hover {
    color: black;
}

.code-container {
    white-space: pre;
    font-family: 'Source Code Pro';
    font-size: 12px;
}

.highlight {
    background-color: pink;
}

.hl.hl-violation {
    border-bottom: 1px dashed red;
    box-sizing: border-box;
}

.tooltip.tt {
    max-width: 30%;
    font-size: 12px;
    font-family: Arial;
    border-radius: 2px;
    background-color: #fdfdfd;
    color: black;
    border: 1px solid #ccc;
    padding: 6px;
    white-space: pre;
}




/*.code {
    float: left;
}*/


.tree .node.collapsed > .children {
    display: none;
}

.height100 {
    height: 100%;
}

/*.view {
    display: none;
}

.view.active {
    display: block;
}*/

/*.td-code {
    position: relative;
}*/

.ta-code {
    display: none;
    /*position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-text-fill-color: transparent;
    outline:none;*/
}
/*.ta-code::selection{
    background-color:rgba(107, 166, 255, 0.2);
}*/


.collapsable {
    /*outline: 1px solid pink;*/
}

.collapsable.collapsed {
    outline: 1px solid #ccc;
    width: 30px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: clip;
    overflow: hidden;
}

.collapsable.collapsed::before {
    content: "...";
    display: block;
}

.line.collapsed {
    display: none;
}

.expander {
    outline: 1px solid #ccc;
    background: none;
    height: 8px;
    width: 8px;
    line-height: 8px;
    padding: 0;
    border: none;
    margin: 0;
}

.expander::before {
    content: "-";
}

.expander.collapsed::before {
    content: "+";
}

.menu {
    font-size: 13px;
}

.btn {
    background-color: white;
    border: 1px solid #ccc;
    margin-left: -1px;
    padding: 1px 6px;
    font: inherit;
    line-height: 150%;
    display: inline-block;
}

/*button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}*/

a.btn {
    color: inherit;
}

.btn:hover {
    background-color: #eee;
}

.bottom-bar {
    font-size: 12px;
}


.grid {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.grid > thead > tr > th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 2px 4px;
}

.grid > tbody > tr > td {
    border: none;
    vertical-align: top;
    padding: 2px 4px;
}

.dir-view {
    padding: 0 20px;
}

.dir-view .child {
    padding: 2px 0;
}

[_for] {
    display: none;
}
